<div class="container mt-5">
  <h1 class="mat-headline-1 border-bottom pb-2">{{forum?.title}}</h1>

  <mat-form-field class="mt-2">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell class="point" *matCellDef="let row" [routerLink]="[row['thread_id']]"> {{row["thread_id"]}} </td>
      </ng-container>

      <ng-container matColumnDef="thread">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thread </th>
        <td mat-cell class="point" *matCellDef="let row" [routerLink]="[row['thread_id']]"> {{row["title"]}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
        <td mat-cell class="point" *matCellDef="let row" [routerLink]="[row['thread_id']]"> {{row["posts"][0]["username"] | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="last post">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Post </th>
        <td mat-cell class="point" *matCellDef="let row" [routerLink]="[row['thread_id']]"> {{row["posts"][0]["timestamp"] | date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="posts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Posts </th>
        <td mat-cell class="point" *matCellDef="let row" [routerLink]="[row['thread_id']]"> {{row["posts"].length}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>


</div>
